<form ngNativeValidate #calculateForm (submit)="calculateInterest($event)">
    <h3><a routerLink ="/">Logout</a></h3>
    <div>
        <label *ngIf="interestApiData.mortgageEligibility == true" id="success">You are eligible with monthly EMI - {{ interestApiData.monthlyCostAmount }}</label>
        <label *ngIf="interestApiData.mortgageEligibility == false" id="error">Sorry - You are not eligible for the Mortgage</label>
        <span class="divider"></span>
        <label id="error">{{ errorMessage }}</label>
    </div>
    <div class="input">
        <label>Annual_IncomeAmount</label>
        <input type = "text" required>
    </div>
    <div class="input">
        <label>MaturityPeroid in Years</label>
        <input type = "text" required>
    </div>
    <div class="input">
        <label>Total_LoanValueAmount</label>
        <input type = "text" required>
    </div>
    <div class="input">
        <label>Total_HomeValueAmount</label>
        <input type = "text" required>
    </div>
    <span class="divider"></span>
    <div>
        <input class ="submit" type ="submit" value="Calculate">
        <span class="divider"></span>
        <input class ="submit" type ="button" (click)="clearForm(calculateForm)" value="Reset">
        <span class="divider"></span>
        <span class="divider"></span>
    </div>
</form>