<div>
    <h3><a routerLink ="/">Logout</a></h3>
    <!-- <h3><span class="divider"></span> <a id ="link" routerLink ="/">Logout</a></h3> -->
    <h3>{{ errorMessage }}</h3>
    <table>
        <tr>
            <th>MaturityPeroid(Yr)</th>
            <th>InterestRate(%)</th>
            <th>LastChanged</th>
        </tr>
        <tr *ngFor="let data of interestApiData">
            <td>{{data.maturityPeriod}}</td>
            <td>{{data.interestRate}}</td>
            <td>{{data.lastUpdatedTime | date:'shortDate'}}</td>
        </tr>
    </table>
</div>

